html{
  height: 100%;
}
body {
	height:100%;
	min-height: 100%;
	padding-top: 60px;
	margin-bottom: 100px;
	background: #eeeeee;
}

#app-container{
	height:inherit;
	padding-bottom:67.5px;
}

/* General */
.text-center{
	text-align: center
}

.span-vcenter{
	display: table-cell;
	vertical-align: middle;
}

.table-div{
	height:inherit;
	display:table;
}

.a-nostyle:link {
    color: #9a9a9a;
}

/* visited link */
.a-nostyle:visited {
    color: #9a9a9a;
}

/* mouse over link */
.a-nostyle:hover {
    color: #9a9a9a;
}

/* selected link */
.a-nostyle:active {
    color: white;
}

.menu{
	background-color: #125688;

}

.icon-resp{
	margin-bottom: 20px;
}

/* FOOTER */
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #191919;
}

.footer-item{
	height: 60px;
	width:25%;
	display: table;
	text-align: center!important;
	color:#9a9a9a!important;
}

.footer-item:hover{
	background: #000;
	color:white;
}

.footer-active{
	background: #000;
	color:white!important;
	border-bottom: 8px solid #125688;
}

.console{
	margin-top: 10px;
	border:1px solid #ddd;
	height: 400px;
	max-height: 400px;
	overflow-y:scroll;
}

/* Tab panels */
.tab-content{
	min-height: 100%;
	height: 100%;
}

.tab-pane{
	min-height: 100%;
	height: 100%;
}


/* MEDIA QUERIES */

#lock {
	font-size: 70px;
}
@media (min-width: 320px) {
  #lock {
    font-size: 70px;
  }
}

@media (min-width: 480px) {
  #lock {
    font-size: 80px;
  }
}

@media (min-width: 640px) {
  #lock {
    font-size: 110px;
  }

@media (min-width: 768px) {
  #lock {
    font-size: 140px;
  }
}

@media (min-width: 1024px) {
  #lock {
    font-size: 170px;
  }
}